# Contents

1. Import libraries
2. Quality checks
3. Data Merge

# 1. Import libraries and data

In [3]:
#import libraries
import pandas as pd
import numpy as np
import os

In [4]:
#Define path
path = r'/Users/arturassada/Desktop/Instacart Basket Analysis'

In [5]:
# import new file orders_products_prior.csv
df1 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_combined.pkl'))

In [6]:
# import new file orders_products_prior.csv
df2 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'products_cleaned_20220614.csv'))

In [7]:
#4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

Conduct Quality checks

In [8]:
#Check data shape from pickle orders file
df1.shape

(32434489, 12)

In [9]:
#Check data shape from csv products file
df2.shape

(49672, 6)

In [10]:
#Check data schemes
df1.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [11]:
#Check data schemes
df2.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# 3. Data merge

In [12]:
#5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
#Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

#Comment: appending is not an option, different size tables. Since it has a common foreign key it is most convenient #to do a LEFT JOIN adding product attributes.

In [13]:
orders_products_merged = df1.merge (df2, on = 'product_id')

In [14]:
orders_products_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [17]:
#6. Confirm the results of the merge using the merge flag.
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
#comment: Check came in clean. 
#Though the '_merge' column is from previous task. 
#Not sure it applies for the new merge with products.

In [18]:
#7. Export the newly created dataframe as orders_products_merged in a suitable format 
#(taking into consideration the size).

In [ ]:
#Comment: Best option to export as CSVm, due to higher compression ratio.

In [19]:
#export
orders_products_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

In [1]:
orders_products_merged.head(5)

NameError: name 'orders_products_merged' is not defined