# Content list
1. Import libraries and data

# 1. Import libraries and data
# 2. '4.7' exercise
# 3. Task
# 4. Export in pickle

In [5]:
#import libraries
import pandas as pd
import numpy as np
import os

In [6]:
#Define path
path = r'/Users/arturassada/Desktop/Instacart Basket Analysis'

In [7]:
# import new file orders_products_prior.csv
ords_prods_merged = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged.csv'))

In [10]:
ords_prods_merged.head(5)

,Unnamed: 0,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

# 3. '4.7' exercise

In [8]:
df = order_products_merged[:1000000]

NameError: name 'order_products_merged' is not defined

In [ ]:
df.tail()

In [ ]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [ ]:
df.head()

In [ ]:
df['price_range'] = df.apply(price_label, axis=1)

In [ ]:
df['price_range'].value_counts()

In [ ]:
df['prices'].max()

In [ ]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
df['price_range_loc'].value_counts()

In [ ]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
ords_prods_merged['price_range_loc'].value_counts()

In [ ]:
ords_prods_merged['order_dow'].value_counts(dropna = False)

In [ ]:
result = []

for value in ords_prods_merged["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
ords_prods_merged.head()

In [ ]:
result

In [ ]:
ords_prods_merged['busiest_day'] = result

In [ ]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

# Task

#Step 1 -> Done above

In [ ]:
#2 Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. 
#Now, they want “Busiest day” to become “Busiest days” (plural). 
#This label should correspond with the two busiest days of the week as opposed to the single busiest day. 
#At the same time, they’d also like to know the two slowest days. 
#Create a new column for this using a suitable method.

In [ ]:
#Check frequency
ords_prods_merged['order_dow'].value_counts(dropna = False)

In [ ]:
#Create if-statement for loops with step criteria
result = []

for value in ords_prods_merged["order_dow"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 1:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    elif value == 3:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [ ]:
#check outcome
result

In [ ]:
#Create column  'busiest_days'
ords_prods_merged['busiest_days'] = result

In [ ]:
#3. Check the values of this new column for accuracy. Note any observations in markdown format.
ords_prods_merged['busiest_days'].value_counts(dropna = False)

In [ ]:
#Comment:
# A. Counts changed, when using 2 days for busiest and least_busy days. Nothing in particular to note.

In [ ]:
#4. When too many users make Instacart orders at the same time, the app freezes. 
#The senior technical officer at Instacart wants you to identify the busiest hours of the day. 
#Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” 
#Create a new column containing these labels called “busiest_period_of_day.”

In [ ]:
#Print headers
ords_prods_merged.head()

In [ ]:
#Calculating frequency
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

In [ ]:
#comment:
#A. Most orders: 10,11,14,15,13,12,16 (count 7)
#B. Fewest orders: 6,0,1,5,2,4,3 (count 10)
#C. Average orders: 9,17,8,18,19,20,7,21,22,23 (count7)

In [ ]:
#Create if-statement for loops with step criteria
result = []

for value in ords_prods_merged["order_hour_of_day"]:
    if value in (10,11,14,15,13,12,16):
        result.append("Most orders")
    elif value in (6,0,1,5,2,4,3):
        result.append("Fewer orders")
    elif value in (9,17,8,18,19,20,7,21,22,23):
        result.append("Average orders")
    else:
        result.append("Not enough data")

In [ ]:
result

In [ ]:
#Create new column
ords_prods_merged['busy_hour'] = result

In [ ]:
#check frequency
ords_prods_merged['busy_hour'].value_counts()

In [ ]:
#export
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', '20220517_ords_prods_merged.pkl'))

In [9]:
ords_prods_merged.head(10)

,Unnamed: 0,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0
5,5,5,3367565,1,prior,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0
6,6,6,550135,1,prior,7,1,9,20.0,196,1,1,both,195,Soda,77,7,9.0
7,7,7,3108588,1,prior,8,1,14,14.0,196,2,1,both,195,Soda,77,7,9.0
8,8,8,2295261,1,prior,9,1,16,0.0,196,4,1,both,195,Soda,77,7,9.0
9,9,9,2550362,1,prior,10,4,8,30.0,196,1,1,both,195,Soda,77,7,9.0

In [3]:
pd.set_option('display.max_columns', None)