# Content List
## Step 1-3 Importing libraries and data

## Step 1-3  Importing libraries and data + setting path
## Step 4. Wrangle data so it fits business logic
## Step 5. Check Data consistency
## Step 6. Combine customer data with prepared data
## Step 7. Check comments and code layout (done)
## Step 8. Export as pickle
================================================================================

## Step 1-3. Import libraries and data

In [36]:
#import libraries
import pandas as pd
import numpy as np
import os

In [37]:
#Define path
path = r'/Users/arturassada/Desktop/Instacart Basket Analysis'

In [38]:
# import new file customer2.csv
df = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'customers 2.csv'))

## Step4. Wrangling data.

In [39]:
#Step4: Wrangle the data so that it follows consistent logic; for example,
#rename columns with illogical names and drop columns that donâ€™t add anything to your analysis.

In [40]:
#4.1 Data exploration

In [41]:
df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [43]:
#For the purpose of this task information that is not needed is
#A. Name And Surname (also violation of privacy)
#B. var *STATE* and *Gender* in has capital letter, standart naming is lowercase symbols. Will change to lowercase.
#C. Change data types

In [44]:
#A. Drop name and surname columns
df_drop1 = df.drop(columns = ['First Name'])

In [45]:
df_drop2 = df_drop1.drop(columns = ['Surnam'])

In [46]:
#Check for removed columns
df_drop2

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...
206204,168073,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Female,California,27,4/1/2020,1,married,99799
206208,80148,Female,New York,55,4/1/2020,1,married,57095

In [47]:
#B. var *STATE* and *Gender* in has capital letter, standart naming is lowercase symbols. Will change to lowercase.
df_drop2.rename(columns ={'STATE':'state'}, inplace = True)

In [48]:
df_drop2.rename(columns ={'Gender':'gender'}, inplace = True)

In [49]:
df_drop2.rename(columns ={'Age':'age'}, inplace = True)

In [50]:
#C. Change data types
df_drop2['gender'] = df_drop2['gender'].astype('str')

In [51]:
df_drop2['state'] = df_drop2['state'].astype('str')

In [52]:
#Check headers
df_drop2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   gender        206209 non-null  object
 2   state         206209 non-null  object
 3   age           206209 non-null  int64
 4   date_joined   206209 non-null  object
 5   n_dependants  206209 non-null  int64
 6   fam_status    206209 non-null  object
 7   income        206209 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.6+ MB

## 5. Complete the fundamental data quality and consistency checks youâ€™ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [53]:
#Check for mixed-data type:
for col in df_drop2.columns.tolist():
    weird = (df_drop2[[col]].applymap(type) != df_drop2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_drop2[weird]) > 0:
            print (col)

In [54]:
#Find missing values
df_drop2.isnull().sum()

user_id         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [55]:
#Data has no missing values

In [56]:
#Find duplicates. Create duplicates temporary dataframe
#check for duplicates
df_dupl = df_drop2[df_drop2.duplicated()]

In [57]:
df_dupl.shape

(0, 8)

In [58]:
#no duplicates

## 5. Combine your customer data with the rest of your prepared Instacart data. Tip: Make sure the key columns are of the same data type! Hint: Make sure the key columns are the same data type!

In [59]:
# import prepared Instacart data
df_prep = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'df_insta.pkl'))

In [60]:
#Create new dataframe for cleaned data
df_cust2 = df_drop2

In [61]:
#check data columns and data type
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   Unnamed: 0_x            int64
 2   order_id                int64
 3   user_id                 int64
 4   eval_set                object
 5   order_number            int64
 6   order_dow               int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   product_id              int64
 10  add_to_cart_order       int64
 11  reordered               int64
 12  _merge                  object
 13  Unnamed: 0_y            int64
 14  product_name            object
 15  aisle_id                int64
 16  department_id           int64
 17  prices                  float64
 18  price_range_loc         object
 19  busiest_day             object
 20  busiest_days            object
 21  busy_hour               object
 22  max_order               int64
 23  loyalty_flag            object
 24  order_frequency         float64
 25  frequency_flag          object
 26  spender_type            object
dtypes: float64(3), int64(14), object(10)
memory usage: 6.5+ GB

In [62]:
#check data columns and data type
df_cust2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   gender        206209 non-null  object
 2   state         206209 non-null  object
 3   age           206209 non-null  int64
 4   date_joined   206209 non-null  object
 5   n_dependants  206209 non-null  int64
 6   fam_status    206209 non-null  object
 7   income        206209 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.6+ MB

In [63]:
#Comment: foreign key is *user_id* and has same data type i.e. int64.

In [64]:
#Merging data using inner-join so only matched rows will be merged.

In [65]:
#Merge 2 
df_prep = df_prep.merge(df_cust2, on = 'user_id')

In [66]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   Unnamed: 0_x            int64
 2   order_id                int64
 3   user_id                 int64
 4   eval_set                object
 5   order_number            int64
 6   order_dow               int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   product_id              int64
 10  add_to_cart_order       int64
 11  reordered               int64
 12  _merge                  object
 13  Unnamed: 0_y            int64
 14  product_name            object
 15  aisle_id                int64
 16  department_id           int64
 17  prices                  float64
 18  price_range_loc         object
 19  busiest_day             object
 20  busiest_days            object
 21  busy_hour               object
 22  max_order               int64
 23  loyalty_flag            object
 24  order_frequency         float64
 25  frequency_flag          object
 26  spender_type            object
 27  gender                  object
 28  state                   object
 29  age                     int64
 30  date_joined             object
 31  n_dependants            int64
 32  fam_status              object
 33  income                  int64
dtypes: float64(3), int64(17), object(14)
memory usage: 8.5+ GB

In [67]:
df_prep.shape

(32404859, 34)

In [68]:
#rename clean dataframe
df_insta = df_prep

In [69]:
#all rows merged. No data loss, same number of rows before and after merging.
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   Unnamed: 0_x            int64
 2   order_id                int64
 3   user_id                 int64
 4   eval_set                object
 5   order_number            int64
 6   order_dow               int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   product_id              int64
 10  add_to_cart_order       int64
 11  reordered               int64
 12  _merge                  object
 13  Unnamed: 0_y            int64
 14  product_name            object
 15  aisle_id                int64
 16  department_id           int64
 17  prices                  float64
 18  price_range_loc         object
 19  busiest_day             object
 20  busiest_days            object
 21  busy_hour               object
 22  max_order               int64
 23  loyalty_flag            object
 24  order_frequency         float64
 25  frequency_flag          object
 26  spender_type            object
 27  gender                  object
 28  state                   object
 29  age                     int64
 30  date_joined             object
 31  n_dependants            int64
 32  fam_status              object
 33  income                  int64
dtypes: float64(3), int64(17), object(14)
memory usage: 8.5+ GB

## 8. Export as pickle

In [70]:
#Export in pkl format
df_insta.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_insta_4_9p1.pkl'))